/* Стили для страницы входа */
.container {
    margin: 50px auto;
    width: 50%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-label {
    font-weight: bold;
    color: #333;
}

/* Стили для страницы счетчика посещений */
.counter-info {
    font-size: 18px;
    margin-top: 20px;
    color: #333;
}

/* Общие стили */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 24px;
    color: #fff;
}

.navbar-nav .nav-link {
    color: #fff;
    font-size: 18px;
    margin-right: 20px;
}

.navbar-nav .nav-link:hover {
    color: #ddd;
}

main {
    text-align: center;
    margin-top: 50px;
}

.alert {
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px 20px;
}

/* Стили для секретной страницы */
.secret-info {
    font-size: 24px;
    font-weight: bold;
    color: green;
}
