{% extends 'base.html' %} {% block content %}
<h1>Форма отправки</h1>
<form action="" method="post">
  <label for="form1"> Тема сообщения</label>
  <input
    type="text"
    id="form1"
    name="topic"
    value="{{request.form['topic']}}"
  />
  <label for="form2"> Текст сообщения</label>
  <textarea type="text" id="form2" name="text">
{{request.form.get('text', '')}}</textarea
  >
  <button type="submit">Отправить!</button>
</form>
<table class="table">
  <tbody>
    {% for key, value in request.form.items() %}
    <tr>
      <td>{{ key }}</td>
      <td>{{ value }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
